*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

body{
    max-width: 1200px;
    background-color: aqua;

}
img{
    width: 350px;
    height: 300px;

}